body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 100px auto; */
    /* margin-top: 30px */
}

input{
    height: 30px;
}

button{
    margin-top: 40px;
}

form{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
}