main{
    font-size: 40px;
    font-weight: bold;
    border: solid white;
    border-radius: 50%;
    color: white;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}